
/.svn
/src/_ReSharper.BookHouse
*.user
*.suo
bin
obj
/src/Build/BookHouse.exe
/src/Build/BookHouse.exe.config
/src/Build/BookHouse.pdb
/src/Build/System.Data.SQLite.DLL
/src/Build/System.Data.SQLite.xml